[submodule "external/mavlink"]
	path = external/mavlink
	url = https://github.com/mavlink/mavlink.git
[submodule "external/c_library_v2"]
	path = external/c_library_v2
	url = https://github.com/mavlink/c_library_v2.git
